@import url("main.css");
@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One&text=404&display=swap");

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main {
    text-align: center;
}

.title {
    font-family: "Alfa Slab One", serif;
    letter-spacing: 30px;
    font-size: 15em;
    background-image: url("/src/img/downscaled_1.jpg");
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
}

.desc, .return-link {
    font-size: 1.5em;
}

.return-link {
    text-decoration: none;
    color: var(--three);
    font-weight: 900;
    font-variant: all-small-caps;
}

.return-link:visited {
    color: var(--three);
}