@import url("main.css");

.main-section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-one {
    background: url("../img/bg.jpg");
    background-size: 100vw;
}

.two-left, .two-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100vh;
}

.two-right {
    background: #ffd2e7;
}

.main-three {
    background: darkgray;
    gap: 5vw;
    padding: 0 5vw;
}

.card {
    background-color: white;
    border: 3px solid #51006b;
    width: 30%;
    height: 70%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: .5s;
}

.card:hover {
    box-shadow: 10px 10px #51006b;
    transition: .5s;
}

.card > img {
    border: 30px solid #ffd2e7;
    border-radius: 50%;
    width: 50%;
    margin-top: 10%;
}

.card > .text {
    text-align: center;
    margin-top: 30px;
    width: 80%;
}