@import url("main.css");

#main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/bg3.jpg");
    background-size: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 50px;
    border-radius: 30px;
}

.container > * {
    width: 20vw;
    height: 50px;
    font-size: 1.2em;
}

input {
    font-family: var(--font-sans);
    padding: 10px;
    outline: none;
    border: 3px solid #853189;
    border-radius: 12px;
    transition: .3s;
}

input:hover, .buttons > *:hover {
    box-shadow: 5px 5px #853189;
    transition: .3s;
}

input:focus {
    box-shadow: 5px 5px #853189;
    transition: .3s;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttons > * {
    height: 50px;
    width: 100%;
    font-size: 1.2em;
    font-variant: small-caps;
    transition: .3s;
    border: none;
    border-radius: 12px;
}

.b-register {
    background-color: #ffd2e7;
}

.b-login {
    background-color: #51006b;
    color: white;
}