@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");

:root {
    /* https://coolors.co/palette/2b2d42-8d99ae-edf2f4-ef233c-d90429 */
    --one:      #17252a;
    --two:      #2b7a78;
    --three:    #3aafa9;
    --four:     #def2f1;
    --five:     #feffff;

    --font-sans:        "Montserrat", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-sans);
    font-weight: 500;
}